.notice {
	margin: 1em;
	padding: 0.5em;
	background-color: green;
	color: white;
	font-family: "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4,h5,h6,
p,text-area {
	font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
	width: 0;
	margin: 1em auto; /* TODO Too far right; unknown reason */
	font-size: 2.25em;
	color: #222;
}

.game-window {
	margin: 1em auto;
	padding: 1em;
	background-color: #222;
}

.paddle, .ball {
	background-color: #ddd;
}

.paddle {
}

.ball {
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}