<% content_for :title, "Pong | Clip" %>

<h1 class="text-center">Pong</h1>

<div class="game-window">
	<div class="score left-score"></div>
	<div class="score right-score"></div>
	<div class="paddle left-paddle"></div>
	<div class="paddle right-paddle"></div>
	<div class="ball"></div> <!-- Higher z-index for ball than paddles -->
</div>

<p class="text-center">A and Z or &uarr; and &darr; to move, P to pause</p>