// Place all global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "Helvetica", "Arial", sans-serif
}

h1 {
	font-size: 200%;
	margin: 1% 0 1% 0;
}

ul {
	margin: 0 0 0 1%;
}