// Place all global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 0 1% 0 1%;
	background-color: #eee;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 1% 0 1% 0;
	color: #222;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 125%;
}

ul, ol {
	margin: 0 0 0 2%;
}

.flash {
	color: #fff;
}

.notice {
	@extend .flash;
	padding: 0.5%;
	background-color: #080;
}
.error {
	@extend .flash;
	padding: 0.5%;
	background-color: #800;
}