// Place all global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.clear-both {
	clear: both;
}

.text-center {
	text-align: center;
}

.flash {
	color: white;
	padding: 0.5%;
}

.flash-notice {
	@extend .flash;
	background-color: $secondary-b;
}
.flash-error {
	@extend .flash;
	background-color: $complementary;
}

.hidden {
	display: none;
}

.close-button {
	// Button reset, modified from: http://stackoverflow.com/q/3110564/770170
	background: none;
	border: none;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	background-color: inherit;
	
	width: 2em;
	height: 2em;
	float: right;
	position: relative;
	top: -0.5em;
	left: -0.5em;
	
	background-color: red;
	color: white;
	font-weight: bold;
	border: 1px solid white;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 0 1% 0 1%;
	background-color: lighten($primary, 55%);
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 1% 0 1% 0;
	color: $off-black;
}

h1 {
	font-size: 2.25em;
	color: $secondary-a;
}

h2 {
	font-size: 1.25em;
	color: $secondary-b;
}

@mixin nav-menu {
	/* simple reset */
	margin: 0;
	padding: 0;
	z-index: 100;
	
	li {
		list-style: none;
		width: 15em;
	}
	a {
		padding: 0.5em;
		font-size: 1.25em;
		text-decoration: none;
		background-color: $primary;
		text-align: center;
		white-space: nowrap;
		display: block;
		&:hover {
			background-color: $secondary-b;
		}
		&:link, &:visited, &:hover, &:active {
			color: $off-white;
		}
	}
}

.top-menu {
	@include nav-menu;
	margin: 10px;
	li {
		/* Modified from: http://stackoverflow.com/a/13328340/770170 */
		display: inline-block;
		position: relative; /* enable absolute positioning in submenus */
	}
	a {
		margin-right: 0.5em;
		border-bottom: 3px solid $secondary-a;
	}
}

.sub-menu {
	@include nav-menu;
	position: absolute;
	left: -9999px; /* more accessible than display: none; (http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/) */
}

li:hover .sub-menu {
	left: 0px;
}