// Place all the styles related to the Pong controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

$score-position: 37%; // room for approximately three digits

h1 {
	margin: 0.5em auto 0 auto;
}

.game-window {
	position: relative; // absolute children need relative parent
	margin: 1em auto;
	background-color: $off-off-black;
}

.score {
	position: absolute;
	color: $off-off-white;
	top: 10%;
	font-size: 300%;
}

.left-score {
	left: $score-position;
}

.right-score {
	right: $score-position;
}

.paddle, .ball {
	position: absolute;
}

.paddle {
	background-color: orange;
}

.ball {
	background-color: $off-off-white;
}