// Place all the styles related to the Pong controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.notice {
	margin: 1em;
	padding: 0.5em;
	background-color: green;
	color: white;
	font-family: "Helvetica", "Arial", sans-serif;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
	margin: 0.5em auto 0 auto;
	font-size: 2.25em;
	color: #222;
}

.game-window {
	position: relative; /* absolute children need relative parent */
	margin: 1em auto;
	background-color: #222;
}

.score {
	position: absolute;
	color: #ddd;
	top: 10%;
	font-size: 300%;
}

.left-score {
	left: 37%; /* Room for approximately three digits */
}

.right-score {
	right: 37%; /* Room for approximately three digits */
}

.paddle, .ball {
	position: absolute;
	background-color: #ddd;
}

.paddle {
	background-color: orange;
}

.left-paddle {
	background-color: orange; /* DEBUG */
}

.right-paddle {
	background-color: orange; /* DEBUG */
}

.ball {
}

.text-center {
	text-align: center;
}