// Place all the styles related to the stopwatch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stopwatch {
	margin: 0.25em 0 0.25em 0;
}

.time {
	background-color: #222;
	color: #eee;
}