// Place all the styles related to the stopwatch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

$stopwatch-color: $off-off-white;
$stopwatch-background-color: $off-black;

.stopwatch {
	margin: 1em 1em 0 0;
	padding: 1em;
	display: inline-block;
	float: left;
	background-color: lighten($primary, 10%);
	color: $off-white;
	@include border-radius(1em);
	@include linear-gradient(lighten($stopwatch-background-color, 8%), $stopwatch-background-color);
	@include box-shadow(0 0 0.2em 0 darken($stopwatch-background-color, 20%));
}

.time {
	font-size: 2em;
	display: inline-block;
	width: 6em;
	color: $stopwatch-color;
	text-align: right;
}

.lap-time {
	color: $stopwatch-color;
	font-size: 1em;
	display: inline-block;
	margin-bottom: 0.5em;
}

.laps {
	height: 5em;
	overflow: auto;
	border: 1px solid $stopwatch-color;
	@include border-radius(5px);
}

.lap {
	padding: 0 0.5em 0 0.5em;
	color: $stopwatch-color;
	border-bottom: 1px solid $stopwatch-color;
}

@mixin stopwatch-button($margin) {
	width: 45%;
	margin: $margin;
}

.create-stopwatch-button {
	@include fancy-button(green, 1.5em);
}

.pausing-button {
	@include fancy-button(red);
	@include stopwatch-button(0.5em 5% 0.5em 0%);
}

.unpausing-button {
	@include fancy-button(green);
	@include stopwatch-button(0.5em 5% 0.5em 0%);
}

.lapping-button {
	@include fancy-button(green);
	@include stopwatch-button(0.5em 0% 0.5em 5%);
}

.resetting-button {
	@include fancy-button(red);
	@include stopwatch-button(0.5em 0% 0.5em 5%);
}

.destroy-stopwatch-button {
	@include fancy-button(red);
	font-size: 0.7em;
	width: 3em;
	height: 1.5em;
	float: right;
	padding: 0;
}