// Place all the styles related to the stopwatch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";

.stopwatch {
	margin: 0.25em 0 0.25em 0;
}

.time {
	background-color: $off-black;
	color: #eee;
}