// Add the following line to the top of each Sass file that needs to use the
// variables defined in this file (per http://stackoverflow.com/a/9055230):
//     @import "variables.css.scss";

// http://colorschemedesigner.com/#3i61T80sO6q6q
$primary: #568080;
$secondary-a: #64718f;
$secondary-b: #73ab73;
$complementary: #d5af90;

$off-white: #eee;
$off-off-white: #ddd;
$off-black: #111;
$off-off-black: #222;