<h1>Corporate ownership trees</h1>

<p>This is a list of large companies and their subsidiaries, brands, and products.</p>
<p>It is not meant to be comprehensive and the exact division of brands may not be accurate.</p>

<% def print_plain_json_list(json) %>
	<% if json.is_a? String %>
		<li><%= json %></li>
	<% elsif json.is_a? Array %>
		<% json.each do |value, index| %>
			<% print_plain_json_list value %>
		<% end %>
	<% elsif json.is_a? Hash %>
		<% array_containers = ['corporations', 'brands', 'products'] %>
		<% json.each do |key, value| %>
			<% if key == 'name' %>
				<li><%= value %></li>
			<% elsif array_containers.include? key %>
				<ul>
					<% print_plain_json_list value %>
				</ul>
			<% end %>
		<% end %>
	<% else %>
		<li>JSON not formatted correctly. Encountered something that is neither a String, an Array, nor a Hash.</li>
	<% end %>
<% end %>

<% print_plain_json_list @tree %>