<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Pong</h1>

<div class="game-window">
	<div class="paddle float-left"></div>
	<div class="ball float-left"></div>
	<div class="paddle float-right"></div>
</div>