<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<h1>Pong</h1>

<div class="game-window">
	<div class="paddle left"></div>
	<div class="ball"></div>
	<div class="paddle right"></div>
</div>