<h1>Stopwatch</h1>

<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>

<form name="new-stopwatch" action="/stopwatch/create" method="post">
<input type="submit" value="New stopwatch">
</form>

<% @stopwatches.each do |stopwatch| %>
	<div id="stopwatch-<%= stopwatch.id %>" class="stopwatch">
		<span class="time"><%= stopwatch.time %></span>
	</div>
<% end %>