<% content_for :title, "Stopwatch | Clip" %>

<h1>Stopwatch</h1>
<p>Start a stopwatch in one window and see it running in another.</p>

<div>
	<button class="create-stopwatch-button">New stopwatch</button>
</div>

<div class="stopwatches">
</div>