<h1>Clip Projects</h1>	

<ol>
	<li><%= link_to 'Pong', :controller => 'pong' %>
	<li><%= link_to 'Corporate ownership trees', :controller => 'owner' %>
	<li><%= link_to 'Stopwatch', :controller => 'stopwatch' %>
</ol>