<h1>Clip Projects</h1>	

<ol>
	<% # Modified from: http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html %>
	<li><%= link_to 'Pong', pong_path %>
	<li><%= link_to 'Corporate ownership trees', ownership_path %>
	<li><%= link_to 'Stopwatch', stopwatch_path %>
</ol>